*{
    margin: 0px;
}

.bar {
    display: flex;
    align-items: center;
    position: relative;
}

h3{
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2rem;
    margin: 5px 10px;
   
}

.bar::before {
    content: "";
    background-color: black;
    opacity: 0.6;
    height: 70px;
    width: 100%;
    position: absolute;
    text-align: center;

}

body{
    align-items: center ;
    height: 500px;
    /* width: 100%; */
}

body::before {
    content: "";
    background: url("../img/wish1.jpeg");
    opacity: 1;
    z-index: -1;
    width: 1650px;
    height: 1000px;
    position: absolute;
}

.photos {
    display: flex;
    justify-content: center;
    background-color: #78b17f;
    height: 610px;
    width: 399px;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 30px;
    
}

.photos h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 15px auto;
}

.photos p{
    text-align: center;
    font-size: 1.23rem;
    margin: 20px 15px;
}